@import './mixins';
:root{
    --color-dark: #2a2a2a;
    --color-yellow: #ffca2f;
    --body-bg: #fff;
    --text-color: #000;
    --link-color: #0e76a8;
    --border-color: #2a2a2a;

    // Dark mode 
    --dark-bg: #2a2a2a;
    --dark-text-color: #fff;
    --dark-link-color: #ffca2f;
    --dark-border-color: #fff;
}
$font-stack: 'Montserrat', sans-serif;

*{
    margin: 0;
    box-sizing: border-box;
    // font-family: $font-stack;
    scroll-behavior: smooth;
}

body{
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: inherit;
}

.flex{
    display: flex;
    gap: 1rem;
}

.grid{
    display: grid;
    gap: 1rem;
}

ul{
    list-style: none;
}

.wrapper{
    background: var(--body-bg);
    min-height: 100vh;
    color: var(--text-color);
}

//apply dark mode
.dark-mode-checkbox:checked + .wrapper{
    --body-bg: var(--dark-bg);
    --text-color: var(--dark-text-color);
    --link-color: var(--dark-link-color);
    --border-color: var(--dark-border-color);
}

//Dark mode
#darkmode{
    display: none;
    position: fixed;
    top: 6rem;
    left: 1rem;
}

.dark-mode-toggler{
    position: fixed;
    top: 8rem;
    left: 2rem;
    cursor: pointer;

    &:hover{
        transform: scale(1.5);
        transition: all 0.5s;
    }
}

// =======header
.primary-header{
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--body-bg);
    color: var(--text-color);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.219);
    position: sticky;
    top:0;
    z-index: 99;

    .logo{
        justify-content: center;
        align-items: center;
        gap: 3rem;
        position: relative;

        div{
            &:nth-child(1){
                font-size: 1.8rem;
            }
            &:nth-child(2){
                font-size: 1rem;
                font-weight: bold;
            }
        }

        .line{
            &::before{
                content: "";
                background: var(--color-yellow);
                height: 60%;
                width: 5px;
                left: 45%;
                position: absolute;
            }
        }
    }

    .right{
        #check, .menu-icon{
            display: none;
        }
        .navigation {
            padding: 0;
            margin:0;
            gap: 2.5rem;

            li{
                a{
                    &:hover{
                        color: var(--color-yellow);
                        transition: all .5s;
                    }
                }
            }
        }
    }
}

// media query for tablet designs for header

@include tablet(){
   .primary-header{
    .right{
        .menu-icon{
        display: block;
        }

        
        .navigation{
            flex-direction: column;
            width: 15rem;
            height: 100vh;
            background: var(--body-bg);
            position: fixed;
            top: 4.7rem;
            left: 100%;
            transition: 0.5s ease-in;
            box-shadow: 0 0 0 1px solid rgba(128, 128, 128, 0.153);
           
            li{
                padding-left: 1rem;
            }


            
        }
        #check:checked ~ ul{
            left: calc(100% - 15rem);
        }
    }
}
}

// section1 
.section1 {
    background: var(--color-yellow);
    margin: 10rem auto 5rem auto;
    grid-template-areas: "left right";
    padding: 0 2rem;
    width: 90vw;

    .left{
        grid-area: left;
        margin-top: -4rem;
        justify-content: center;
        align-items: center;

        img{
            height: 115%;
        }
    }
    .right{
        grid-area: right;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.8rem;

        div{
            flex-direction: column;
            gap: 0.6rem;

            .name{
                font-size: 4rem;
                font-weight: bold;
                color: white;
            }

            .tag{
                color: white;
                font-size: 2.2rem;
            }
        }
        button{
            border: none;
            padding: 0.8rem 1.2rem;
            border-radius: 2rem;
            cursor: pointer;
            background: var(--color-dark);
            color: white;
            margin: 1rem 0;

            a{
            i{
                color: var(--color-yellow);
            }
        }
        }
    }
}

// section2

.section2{
    .info-container{
        max-width: 80%;
        margin: auto;
        padding: 2rem;
        min-height: 7rem;
        border:  2px solid var(--border-color);
        border-radius: 100px;

        justify-content: center;
        align-items: center;

        .info-lists{
            width: 100%;
            color: var(--text-color);

            justify-content: space-around;
            align-items: center;

            .info-content{
                .icon-container{
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    background: var(--color-yellow);
                    color: #fff;

                    justify-content: center;
                    align-items: center;

                    i{
                        font-size: 1.4rem;
                    }
                }
                span{
                    h5{
                        font-weight: bolder;
                        letter-spacing: 2px;
                    }
                    p{
                        color: var(--color-yellow);
                    }
                }
            }

            .info-divider{
                width: 2px;
                height: 35px;
                background: grey;
            }
        }
    }
}